/** @format */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Poppins;
}
main {
	position: relative;
	overflow: hidden;
	height: 700px;
	width: 70%;
	margin: auto;
	background: rgba(0, 0, 0, 0.08);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main > span {
	background: rgb(255, 0, 0);
	text-align: center;
	
	color: white;
	border-radius: 10px;
	width: 600px;
	position: absolute;
	top: 30px;
	right: 0;
	overflow: hidden;
	height: 30px;
	animation-name: error;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
@keyframes error {
	from {
		right: -100%;
	}
	to {
		right: 20px;
	}
}
main header {
	height: 50px;
	padding-left: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background: blue;
	color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
main > div {
	height: 100%;
	width: 100%;
	display: flex;
	padding: 10px;
	justify-content: space-around;

}
section {
	border: solid rgba(0, 0, 255, 0.1) 1px;
	height: calc(100% - 50px);
}
section header {
	height: 40px;
}
.form {
	width: 45%;
	color: rgba(0, 0, 255, 0.5);
}
.list {
	width: 53%;
}
form {
	padding: 10px 5px;
	width: 100%;
	height: calc(100% - 40px);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
form input,
select,
textarea {
	border: none;
	outline: none;
	background: #fff;
	padding: 5px 15px;
	letter-spacing: 1px;
	resize: none;
}
select {
	appearance: none;
	position: relative;
	width: 100%;
}

.select {
	position: relative;
}
.select::after {
	content: '';
	height: 0px;
	width: 0px;
	border: solid blue 10px;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	transform: translateY(-40%);
	font-size: 20px;
	position: absolute;
	right: 5px;
	top: 50%;
}
form > div {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
form > div input,
select {
	height: 30px;
}
form > div label {
	margin-bottom: 5px;
}
form > .file {
	display: flex;
	justify-content: flex-start;
	height: 120px;
	padding-top: 10px;
	position: relative;
}
.file span {
	color: #333;
	display: inline-block;
	width: 130px;

	padding: 5px;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	background: rgba(0, 0, 0, 0.1);
}
.file div {
	position: absolute;
	right: 20px;
	border-radius: 50%;
}

.file span input[type='file'] {
	height: max-content;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
}
footer {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
footer input {
	width: 30%;
	font-size: 1rem;
	padding: 10px 20px;
	border-radius: 3px;
	color: white;
	cursor: pointer;
}
footer #creer {
	background: blue;
}
footer #creer:hover {
	background: rgba(0, 0, 255, 0.5);
}
footer #reinitialiser {
	background: rgba(255, 0, 0, 0.5);
}
footer #reinitialiser:hover {
	background: rgba(255, 0, 0, 0.4);
}
.essais {
	height: 500px;
	border: solid black 1px;
}
.cards {
	height: calc(100% - 40px);
	overflow-y: scroll;
}
.card {
	display: flex;
	border-bottom: solid rgba(0, 0, 0, 0.1) 1px;
}
.photo-user {
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.photo-user img {
	border-radius: 50%;
}
.info-user {
	height: 120px;
	font-size: 12px;
	padding: 10px;
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
}
.remove {
	cursor: pointer;
	color: red;
	position: absolute;
	right: 10px;
	top: 0;
	font-size: 2rem;
}
@media only screen and (max-width: 950px) {
	main > div {
		flex-direction: column;
		align-items: center;
	}
	.form {
		width: 100%;
	}
	.list {
		width: 100%;
	}
  }